{% extends 'base.html' %}
    {% block content %}
        <h1>make a post</h1>
        <form action="{{url_for('admin')}}" method="post" enctype="multipart/form-data">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="image">Upload Image:</label><br>
            <input type="file" id="image" name="file" accept="image/*" required><br><br>

            <label for="body">Body:</label><br>
            <textarea id="body" name="body" rows="10" cols="50" required></textarea><br><br>

            <input type="submit" value="Submit">
        </form>
        <h2>Additional Actions</h2>
        <form action="{{url_for('pushfromsite')}}" method="post">
            <input type="submit" value="Push Changes">
        </form>
    
        <form action="{{url_for('pullfromgit')}}" method="post">
            <input type="submit" value="Pull Changes">
        </form>
    {% endblock %}
